<div class="container-fluid dashboard">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-6">
      <%= link_to dashboard_path do %>
       <button class="shadow-sm p-2 px-3 mb-3 bg-white rounded-pill border-0 float-left">Dashboard</button>
      <% end %>
      <div class= "avatar-container">
        <% current_user.kids.each do |kid| %>
        <%= link_to kid_path(kid) do %>
          <div class="avatar-kids-profil active-kid"><%=kid.first_name%></div>
          <% end %>
        <% end %>
          <% if current_user.is_nanny == true %>
            <% current_user.babysits.each do |babysit| %>
            <%= link_to kid_path(babysit.kid) do %>
           <div class="avatar-kids-profil active-kid"><%=babysit.kid.first_name%></div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
