<%= link_to 'dashboard', dashboard_path %>

<%= link_to 'Editer le profil', edit_kid_path(@kid)%>

<br>
<%= cl_image_tag @kid.photo.key, crop: :fill, gravity: :face, class: "avatar-kids" %>

<p><%= @kid.first_name %></p>
<p><%=@kid.parent.last_name%></p>

<p><%= @kid.age %>mois</p>
<p><%= @kid.weight %>kgs</p>
<p>rythme de sommeil:</p>
<p><%= @kid.sleep_habit %></p>
<p>habitudes alimentaires:</p>
<p><%= @kid.food_habit %></p>
<p>santé:</p>
<p><%= @kid.health_habit %></p>

<br>
<br>

<% if current_user.is_nanny == false  %>
<p>Profil nounou</p>
<% @kid.babysits.each do |babysit|%>
  <p><%= babysit.nanny.first_name %></p>
  <p><%= babysit.nanny.last_name %></p>
  <p>email:<%= babysit.nanny.email %></p>
  <p>adresse:<%= babysit.nanny.address %></p>
  <p>téléphone:<%= babysit.nanny.phone_number %></p>
<% end %>

<% end %>
