<h5> mes kids</h5>
<div class="d-flex my-3">
  <% current_user.babysits.each do |babysit| %>
  <div class="kid-container">
    <div id="kid-<%="#{babysit.kid_id}"%>" class="avatar-kids m-1" data-criteria-type="kid" data-selected="false" data-criteria-value=<%=babysit.kid_id%>>
      <%= babysit.kid.first_name %>
    </div>
  </div>
  <% end %>
</div>

<% current_user.babysits.each do |babysit| %>
<div id="kid-<%="#{babysit.kid_id}-container"%>" class="d-none nounou-form mt-3">

  <% if babysit.validated == false %>
  <p> en attente de validation
    <%= link_to kid_babysit_path(babysit.kid_id, babysit.id), method: :patch,  data: { confirm: "sure? " } do %>
    <i class="far fa-check-circle"></i></p>
  <% end %>

  <% elsif babysit.validated == true %>
  <%= render "shared/kid-card", babysit: babysit %>

  <div class="sticky-bottom-nav position-sticky">
    <%= link_to "+", new_event_path, class: "action-btn" %>
  </div>
  <% end %>
</div>
<% end %>