<!-- <h4 class="my-kids mt-4"> mes kids</h4> -->
<div class="d-flex flex-wrap my-3">
  <% current_user.kids.each do |kid| %>
    <div class="kid-container">
      <div id="kid-<%="#{kid.id}"%>" class="avatar-kids m-1" data-criteria-type="kid" data-selected="<%= @kids.include?(kid.id) ?   "true" : "false"%>" data-criteria-value=<%=kid.id%> >
        <%= kid.first_name %>
      </div>
    </div>
  <% end %>
  <div class="avatar-kids-add m-1">
    <span class="add-kid">+</span>
  </div>
</div>
<div class="form-container add-kid-form d-none mt-3">
  <div class="form-centered text-center">
    <%= simple_form_for(@kid) do |f| %>
    <p class='time-event'>Prénom<p>
      <%= f.input :first_name, label: false, input_html: { class: 'bg-white' } %>
      <p class='time-event'>Age (en mois)<p>
      <%= f.input :age, label: false, input_html: { class: 'bg-white' } %>
      <p class='time-event'>Poids<p>
      <%= f.input :weight, label: false, input_html: { class: 'bg-white' } %>
      <%= f.input :photo, as: :file, label: false, input_html: { class: 'bg-white' } %>
      <%= f.button :submit, value: "Ajouter un enfant", class: "shadow-sm py-1 px-3 bg-white rounded-pill border-0 mt-4 mb-4"  %>
    <% end %>
  </div>
</div>

<% current_user.kids.each do |kid| %>

  <% if kid.babysits.empty? && @kids.include?(kid.id) %>
    <p class="time-event">Rechercher une nounou pour <%= kid.first_name.capitalize %> </h5>
    <div class="nounou-search">
    <form action="/dashboard" class='form-inline justify-content-around'>
		<input type="hidden" name="kids" value="<%=kid.id%>">
      <input type="text" name="email" placeholder="Email de la nounou">
      <input type="submit" value='chercher' class="shadow-sm py-1 px-2 bg-white rounded-pill border-0">
    </form>
    </div>

    <% if @result %>
    <div class="nanny-results">
      <p class="title-nanny-results">resultat(s)</p>
      <p><%= @result.first_name %></p>
       <p><%= @result.last_name %></p>
       <p><%= @result.address %></p>
       <p><%= @result.phone_number %></p>
       <%= form_for([kid, @babysit]) do |f| %>
        <%= f.hidden_field :user_id, value: @result.id %>
        <%= f.submit :Envoyer, class: 'btn btn-pr' %>
      </div>
      <% end %>
    <% end %>
  <% end %>
  <% kid.babysits.each do |babysit| %>
    <% if babysit.validated == false && @kids.include?(kid.id) %>
      <h6 > Votre demande pour la garde de <%= babysit.kid.first_name %> a bien été envoyée. Nous attendons sa confirmation.</h6>
    <% end %>
  <% end %>
<% end %>
<%= render "shared/filter-tag" %>
<%# Create a container with kid id to conditionnaly show it depending on kid avatar clicked %>
<% current_user.kids.each do |kid| %>
  <div id="kid-<%="#{kid.id}-container"%>" class="nounou-form mt-3">
    <% kid.babysits.each do |babysit| %>
      <%= render "shared/kid-card", events: events, babysit: babysit%>
    <% end %>
  </div>
<% end %>


