<div id="events-list">
  <% events.each do |event| %>
    <% if event.tag.downcase == "food" %>
      <% tag = "repas" %>
    <% elsif event.tag.downcase == "sleep" %>
      <% tag = "dodo" %>
    <% elsif event.tag.downcase == "health" %>
      <% tag = "santé" %>
    <% elsif event.tag.downcase == "diaper" %>
      <% tag = "change" %>
    <% elsif event.tag.downcase == "activity" %>
      <% tag = "activité" %>
    <% else event.tag.downcase == "photo" %>
      <% tag = "photo" %>
    <% end %>
    <% day = "" %>
    <% events.each do |event| %>
      <% if event.begin_event.strftime("%A") == "Monday" %>
        <% day = "Lundi" %>
      <% elsif event.begin_event.strftime("%A") == "Tuesday"%>
        <% day = "Mardi" %>
      <% elsif event.begin_event.strftime("%A") == "Wednesday"%>
        <% day = "Mercredi" %>
      <% elsif event.begin_event.strftime("%A") == "Thursday"%>
        <% day = "Jeudi" %>
      <% elsif event.begin_event.strftime("%A") == "Friday"%>
        <% day = "Vendredi" %>
      <% elsif event.begin_event.strftime("%A") == "Saturday"%>
        <% day = "Samedi" %>
      <% elsif event.begin_event.strftime("%A") == "Sunday"%>
        <% day = "Dimanche" %>
      <% end %>
    <% end %>
    <% if(event.babysit.kid_id == babysit.kid_id) %>
      <div id="kid-<%="#{babysit.kid_id}-card"%>" data-tag="<%= event.tag.downcase %>" class="card border-light mb-3 <%= event.tag.downcase %>-color">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <span><%= event.babysit.kid.first_name %></span>
            <% if event.title.blank? %>
              <span><%= tag.capitalize %></span>
            <% else %>
              <span><%= event.title %></span>
            <% end %>
            <span><%= day %> <%=event.begin_event.strftime("%Hh%M")%>
              <% if event.end_event.nil? %>
                <%= "" %> </span>
            <% else %>
              - <%= event.end_event.strftime("%Hh%M") %> </span>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text"><%= event.content %> </p>
        <span class="badge badge-pill badge-primary"><%= event.badge%></span>
        <div class="align-photo">
          <% if event.photo.attached? %>
            <%= cl_image_tag event.photo.key, crop: :fill %>
          <% end %>
        </div>
      </div>
        <div class="card-footer">
          <i class="fa fa-heart float-right pl-2" aria-hidden="true"></i>
          <% if current_user.is_nanny %>
          <%= link_to edit_event_path(event) do %>
            <i class="far fa-edit float-right"></i>
          <% end %>
      <% end %>
        </div>
    </div>
  <% end %>
<% end %>
</div>