<h1>Hello Edit</h1>

<div class="form-container">
  <div class="form-centered">
    <h2>Editer un event :</h2>
    <%= simple_form_for(@event) do |f| %>
    <%= f.input :tag, as: :radio_buttons, collection: ['Repas', 'Dodo', 'Santé','Change', 'Activité', 'Photo'] %>
    <%= f.input :content %>
    <%= f.input :begin_event %>
    <%= f.input :end_event %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit  %>
    <% end %>
  </div>
</div>
