<% current_user.babysits.each do |babysit| %>
<% if babysit.validated == true %>
<p> <%=babysit.kid.first_name%> - validé!</p>

<div class="form-container">
  <div class="form-centered">
    <h2>Créer un event :</h2>
    <%= simple_form_for([babysit.kid, babysit, @event]) do |f| %>
    <%= f.hidden_field :kid_id, value: babysit.kid.id %>
    <%= f.hidden_field :babysit_id, value: babysit.id %>
    <%= f.input :tag, as: :radio_buttons, collection: ['Repas', 'Dodo', 'Santé','Change', 'Activité', 'Photo'] %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :badge %>
    <%= f.input :begin_event %>
    <%= f.input :end_event %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit  %>
    <% end %>
  </div>
</div>
<% end %>
<% end %>
