<div class="container-fluid dashboard">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-6">
      <div class="card my-3">
        <div class="card-body">
          <div class="profile-container d-flex justify-content-between align-items-start mb-3">
            <div>
              <h5 class="card-title"><%= current_user.first_name %></h5>
              <% if current_user.is_nanny %>
                <p class="card-text pr-2 mt-2">Une nouvelle journée pour votre garderie! <br> Partagez les évènements à leurs parents!</p>
              <% else %>
                <p class="card-text pr-2 mt-2">Une nouvelle journée pour votre enfant!</p>
              <% end %>
            </div>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar-kids", gravity: :face %>
            <% else %>
              <%= link_to edit_user_registration_path do %>
                <div class="avatar-kids-add m-1">
                  <span >+</span>
                </div>
              <% end %>
            <% end %>
          </div>

          <%= link_to kids_path do  %>
          <button href="#" class="shadow-sm py-1 px-3 bg-white rounded-pill border-0">mes kÏds</button>
          <% end %>
          <% if !@events.empty? %>
          <div class="font-italic mt-3 info-event-dashboard">dernier évenement à <%= @events.last.begin_event.strftime("%H:%M") %> - <%= @events.last.babysit.kid.first_name  %></div>
          <% end %>
        </div>
      </div>
      <% if current_user.is_nanny %>
        <%= render 'shared/dashboardbabysit', babysit: @babysit, events: @events %>
        <div class="sticky-bottom-nav position-sticky">
          <%= link_to "+", new_event_path, class: "action-btn" %>
        </div>
      <% else %>
        <%= render 'shared/dashboardfamily', events: @events %>
      <% end %>
    </div>
  </div>
</div>
