<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- <div class="user-card"> -->
      <div class="card my-3">
        <div class="card-body">
          <div class="profile-container d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title">Bonjour <%= current_user.first_name %></h5>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
          </div>
          <p class="card-text">Une nouvelle journée pour votre enfant!</p>
          <button href="#" class="shadow-sm py-1 px-3 bg-white rounded-pill border-0">carnet de liaison</button>
        </div>
      </div>
      <!-- </div> -->

      <% if current_user.is_nanny == true %>
      <% current_user.babysits.each do |babysit| %>
      <% if babysit.validated == false %>
      <p> <%=babysit.kid.first_name%> - en attente de validation
        <%= link_to kid_babysit_path(babysit.kid_id, babysit.id), method: :patch,  data: { confirm: "sure? " } do %>
        <i class="far fa-check-circle"></i></p>
      <% end %>
      <% else %>
      <p> <%=babysit.kid.first_name%> - validé!</p>
      <% end %>
      <% end %>
      <% else %>

      <h5> mes kids</h5>
      <% current_user.kids.each do |kid| %>
      <div class="kids-box d-flex">
        <div class="avatar-kids m-1">
          <%= kid.first_name %>
        </div>
        <div class="avatar-kids m-1">
          <span class="add-kid">+</span>
        </div>
        <!-- <div class="avatar-kids m-1">
          <%= kid.first_name %>
        </div> -->

      </div>

      <% kid.babysits.each do |babysit| %>
      <% if babysit.validated == false %>
      <p> en attente de validation</p>
      <% end %>
      <% end %>

      <% if kid.babysits.empty? %>
      <p><%= kid.first_name.capitalize %> n'a pas encore de nounou!</p>
      <!-- <p>Renseignez l'email de la nounou </p> -->

      <form action="/dashboard" class='form-inline'>
        <input type="text" name="email" placeholder="Email de la nounou">
        <input type="submit" value='chercher' class="shadow-sm py-1 px-2 bg-white rounded-pill border-0">
      </form>

      <% if @result %>

      <%= @result.first_name %>

      <%= form_for([kid, @babysit]) do |f| %>
      <%= f.hidden_field :user_id, value: @result.id %>
      <%= f.submit %>
      <% end %>

      <% end %>
      <% end %>

      <% end %>

      <div class="form-container add-kid-form hidden mt-5">
        <div class="form-centered">
          <h5>Ajouter un enfant à votre tableau de bord</h5>
          <%= simple_form_for(@kid) do |f| %>

          <%= f.input :first_name, label: false, placeholder: "Prénom" %>
          <%= f.input :age, label: false, placeholder: "Age"  %>
          <%= f.input :weight, label: false, placeholder: "Poids"  %>
          <%= f.input :photo, as: :file, label: false %>
          <%= f.button :submit  %>
          <% end %>
        </div>
      </div>


      <% end %>
    </div>
  </div>
</div>