<div class="container-fluid dashboard">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-6">
      <div class="card my-3">
        <div class="card-body">
          <div class="profile-container d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title">Bonjour <%= current_user.first_name %></h5>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
          </div>
          <p class="card-text">Une nouvelle journée pour votre enfant!</p>
          <button href="#" class="shadow-sm py-1 px-3 bg-white rounded-pill border-0">carnet de liaison</button>
        </div>
      </div>

      <% if current_user.is_nanny %>
      <%= render 'shared/dashboardbabysit', babysit: @babysit, event: @event %>
      <% else %>
      <%= render 'shared/dashboardfamily' %>
      <% end %>

      <div class="tags-container my-3 d-flex justify-content-center">
        <div class="tag-box vegetable m-1">
          <%= image_tag("vegetable.png") %>
        </div>
        <div class="tag-box sleep m-1">
          <%= image_tag("sleep.png") %>
        </div>
        <div class="tag-box activity m-1">
          <%= image_tag("activity.png") %>
        </div>
        <div class="tag-box camera m-1">
          <%= image_tag("camera.png") %>
        </div>
        <div class="tag-box diaper m-1">
          <%= image_tag("diaper.png") %>
        </div>
        <div class="tag-box health m-1">
          <%= image_tag("health.png") %>
        </div>
      </div>

      <div class="card border-light mb-3" style="background-color: #a8e1ff">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <span>Lea</span>
            <span>Dodo</span>
            <span>10h-12h</span>
          </div>
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Light card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <span class="badge badge-pill badge-primary">belle sieste</span>
          <span class="badge badge-pill badge-primary">belle sieste</span>
          <span class="badge badge-pill badge-primary">belle sieste</span>
          <span class="badge badge-pill badge-primary">belle sieste</span>
        </div>
      </div>
      <div class="card border-light mb-3" style="background-color: #fffdca">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card border-light mb-3" style="background-color: #ffd8d8">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card border-light mb-3" style="background-color: #c8eacd">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card border-light mb-3" style="border: 1px solid #b5efe8">
        <div class="card-header" style="background-color: #b5efe8">Header</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>


      <div class="sticky-bottom-nav position-sticky">
        <%= link_to "+", dashboard_path, class: "action-btn" %>
      </div>

    </div>
  </div>
</div>