<div class="container-bg-pink-home">
 <div class="container-fluid bg-pink">
  <div class="row vh-50 position-relative">
    <div class="icon-box vegetable">
      <%= image_tag("vegetable.png") %>
    </div>
    <div class="icon-box sleep">
      <%= image_tag("sleep.png") %>
    </div>
    <div class="icon-box activity">
      <%= image_tag("activity.png") %>
    </div>
    <div class="icon-box camera">
      <%= image_tag("camera.png") %>
    </div>
    <div class="icon-box diaper">
      <%= image_tag("diaper.png") %>
    </div>
    <div class="icon-box health">
      <%= image_tag("health.png") %>
    </div>
  </div>
  <div class="row vh-50 justify-content-center">
    <div class="col-8 text-center">
      <p>maÏa</p>
      <p class="text-center">Suivez et partagez le quotidien de votre enfant</p>
      <%= link_to new_user_session_path do %>
      <button class="shadow-sm p-2 px-3 mb-3 bg-white rounded-pill border-0">connexion</button>
      <% end %>
      <%= link_to new_user_registration_path do %>
      <button class="shadow-sm p-2 px-3 mb-3 bg-white rounded-pill border-0">inscription</button>
      <% end %>
    </div>
    <div class="col-8 d-flex flex-column flex-md-row ">
      <div class="feature-1 mt-5">
        <div class="icon-feature-1">
        </div>
        <div class="description-feature-1 text-center mt-3">
          <p>Plus qu'un simple carnet de liaison, un véritable album souvenir</p>
        </div>
      </div>
      <div class="feature-1 mt-5">
        <div class="icon-feature-1">
        </div>
        <div class="description-feature-1 text-center mt-3">
          <p>Plus qu'un simple carnet de liaison, un véritable album souvenir</p>
        </div>
      </div>
      <div class="feature-1 mt-5">
        <div class="icon-feature-1">
        </div>
        <div class="description-feature-1 text-center mt-3">
          <p>Plus qu'un simple carnet de liaison, un véritable album souvenir</p>
        </div>
      </div>
    </div>
  </div>
</div>